<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comandi Nao</title>
</head>
<body>
    <ul id="comandi">
        {% for comando in comandi %}
            <li><button id="{{comando}}">{{comando}}</button></li>
        {% endfor %}
    </ul>
</body>
    <script>
        const pulsanti = document.querySelectorAll("button");
        pulsanti.forEach((pulsante)=>{
            pulsante.addEventListener("click",()=>{
                window.location.href = "./?comando="+pulsante.innerHTML;
            })
        })    
    </script>
</html>