<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comandi Nao</title>
    <link rel= "stylesheet" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>
    {% for comando in comandiNonMovimento %}
        <ul id="comandiNonMovimento">
                {% if comando == 'say' %}
                    <div id="divSay">
                        <li>
                            <input type="text" name="cosaDire" id="cosaDire" placeholder="Inserisci qui il testo">
                            <button id="{{comando}}">{{comando}}</button>
                        </li>
                    </div>
                    {% else %}
                        <li>
                            <button id="{{comando}}">{{comando}}</button>
                        </li>
                {% endif %}
        </ul>
    {% endfor %}



    <div id="comandiMovimento">
        {% for comando in comandiMovimento %}
            <button id={{comando}} class="comandoMovimento">{{comando}}</button>
        {% endfor %}
    </div>

</body>
    <script src="{{url_for('static',filename='js/script.js')}}"></script>
</html>